body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  width: 100%;


  background-color: rgba(143, 204, 215, 0.73);

  .windowApp {



    //background-image: url(../../public/assets/background.jpg)
  }


}