body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;


  .windowApp {
    width: 1400px;
    height: 55vh;
    display: flex;
    background-position: center;
    background-size: cover;


    .leftColumn {

      width: 70%;

      .mapSection {
        height: 65%;


        display: flex;
        align-items: center;
        justify-content: center;

        #map {
          height: 80%;
          width: 80%;

        }
      }

      .tipSection {
        height: 35%;


        display: flex;
        align-items: center;
        justify-content: center;

        .tipBox, .addToFavBox {
          width: 400px;
          height: 200px;
          margin: 5rem;


        }


      }

    }

    .rightColumn {
      width: 30%;


      .btnSection {

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 10%;
        margin-top: 2px;

        .searchBtn {
          width: 65px;
          height: 65px;
          margin: 0 0.5rem 2rem 0;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;

          &:hover {
            width: 70px;
            height: 70px;
            animation: rotate 2s infinite;
          }

        }

        .favBtn {
          width: 65px;
          height: 65px;

          margin: 0 0.5rem 2rem 5px;
          background-size: cover;
          background-repeat: no-repeat;
          cursor: pointer;

          &:hover {
            width: 70px;
            height: 70px;
            margin-left: 0;
            animation: rotate 2s infinite;
          }
        }

      }

      .mainSection {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 90%;

        border-radius: 30px;

        -webkit-box-shadow: -10px -9px 24px -7px rgba(102, 215, 233, 1);
        -moz-box-shadow: -10px -9px 24px -7px rgba(102, 215, 233, 1);
        box-shadow: -10px -9px 24px -7px rgba(102, 215, 233, 1);
        background-color: rgba(255, 255, 255, 0.88);

        .addToFav {
          height: 40px;
          width: 40px;
          padding: 0;
          margin-top: 15px;
          margin-right: 15px;

          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          display: block;
          align-self: end;
          cursor: pointer;

          &:hover {
            animation: rotate 2s infinite;
          }

        }

        .icon {
          border: 1px solid red;
          height: 10%;
          width: 100%;


        }

        .infoContent {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #e82c50;
          font-size: 3rem;
          line-height: 1.5;
          font-family: 'Rubik Moonrocks', cursive;

          height: 40%;
          width: 100%;

          animation: flickerGreen 2s infinite;
        }

        .infoBox {
          height: 60%;
          width: 100%;

          background-repeat: no-repeat;
          background-position: center;
          background-size: 90%;


        }


      }


    }


  }


}

@keyframes flickerGreen {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes flickerRed {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #fc728c,
    0 0 80px #fc728c,
    0 0 90px #fc728c,
    0 0 100px #fc728c,
    0 0 150px #fc728c;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}